<h1>Ruby on Rails Porfolio items</h1>

<%= link_to "New Item", new_portfolio_path %>

<% @ruby_on_rails_items.each do |port| %>
  <h3><%= link_to port.title, portfolio_show_path(port) %></h3>
  <p><%= port.subtitle %><p>
  <p><%= port.body %><p>
  <%= image_tag port.thumb_image unless port.thumb_image.nil?%>
  <%= link_to "Edit", edit_portfolio_path(port) %>
  <%= link_to 'Delete Item', portfolio_path(port), method: :delete, data: { confirm: 'Are you sure?' } %>

<% end %>